#root { margin: 0 auto; padding: 10px 10px; }
#status { z-index: 200; position: absolute; height: 50px; }
#board { z-index: 100; position: relative; padding-top: 50px; width: 100%; height: 100%; text-align: center; }

.root-wrapper { width: 100%; height: 100%; }

.status-wrapper { width: 100%; height: 100%; }
.status-wrapper ul { list-style: none; padding: 0; }
.status-wrapper a { display: inline-block; font-size: 1.2em; }
.status-wrapper a:first-child { width: 60px; font-size: 1.2em; font-weight: bold; }
.status-wrapper a:nth-child(2) { font-size: 1.2em; }


.board-wrapper { display: inline-block; width: 100%; height: 100%; }
.board-wrapper .board-row .row-wrapper { display: inline-block; color: black; vertical-align: middle; }
.board-wrapper .board-row .row-wrapper::after { content: ""; display: block; clear: both; }

.board-wrapper .board-row .row-wrapper .board-col { user-select: none; display: table; margin: 3px; float: left; box-shadow: 0 0 5px 1px rgba(255, 71, 0, 50%) inset; text-align: center; vertical-align: baseline; }
.board-wrapper .board-row .row-wrapper .board-col a { display: table-cell; vertical-align: middle; }

@media only screen and (min-width: 641px) {
  #root { width: 50%; height: 100%; }

  .board-wrapper .board-row .row-wrapper .board-col { font-size: 2.2em; }
}

@media only screen and (max-width: 640px) {
  #root { width: 100%; height: 100%; }
  
  .board-wrapper .board-row .row-wrapper .board-col { font-size: 1.5em; }
}